/* 
2. YEAR EXAM
DMJX, INTERACTIVE DESIGN, JUNE 2022 
CODED BY EIGIL NIKOLAJSEN
*/


/* GLOBAL STYLES ----------------------------------------------------------- */

@font-face {
    font-family: 'Imago Display';
    src: url('../font/ImagoT14.woff2') format('woff2'), /* Modern Browsers */
    url('../font/ImagoT14.otf') format('opentype');
    /* Safari, Android, iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

:root {
    --green-green: linear-gradient(150deg, #A1CC80, #3C7B55);
    --grey: #808080;
    --char: #DBF56E;
    --dark: #140E1A;
    --beige: #fcf7f6;
    --green: #A1CC80;
    --yellow: #F7D159;
    --orange: #F2A055;
    --red: #DB4D6C;
    --dark-red: #7B2E2E;
    --purple: #4E4076;
    --blue: #547DBA;
    --biller: linear-gradient(150deg, #F2A055, #EA6254);
    --sommerfugle: linear-gradient(150deg, #89CCCC, #547DBA);
    --taeger: linear-gradient(150deg, #DA83C1, #D64859);
    --bieroghvepse: linear-gradient(150deg, #9AD7DB, #51AB75);
    --natsvaermere: linear-gradient(150deg, #F0A4C9, #7763AF);
    --moel: linear-gradient(150deg, #F8EC81, #F2A055);
    --guldsmede: linear-gradient(150deg, #ACABF2, #CB74B8);
    --myrer: linear-gradient(150deg, #A1CC80, #3C7B55);
    --crazy: linear-gradient(110deg, #FFD384, #FF9770, #E2638B, #9179D7, #7688E5, #55A7C1, #50B791, #85CE83, #FFD384);
}

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Indivisible', sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--dark);
}

body {
    overflow-x: hidden;
}

svg {
    overflow: visible;
}

#container {
    width: 100vw;
    /* height: 100vh; */
    top: 0;
    left: 0;
    background-image: var(--green-green);
    z-index: -9;
    transition: 1s cubic-bezier(.4, 1.2, .3, 1);
}


/* GLOBAL STYLES ----------------------------------------------------------- */

#bg_texture {
    overflow: hidden;
    z-index: 1;
    background-image: url(../img/bg_pattern8.png);
    background-size: 150vh;
    background-position: left top;
    animation-name: background_pattern_move;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes background_pattern_move {
    0% {
        background-position: 0 calc(150vh / 1.588235294117647);
    }
    100% {
        background-position: 0 0;
    }
}

#background_pattern svg {
    width: 100vmax;
    fill: none;
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: calc(.02vh + 0.8px);
}

#levels_background {
    width: 940vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -20vw;
    z-index: -8;
    background-image: var(--crazy);
    transition: .4s cubic-bezier(.4, 1.2, .3, 1);
}

#foreground {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--dark);
    z-index: 100;
    opacity: 0;
}

#foreground.start_transition {
    animation-name: hide_start;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

#foreground.transition {
    animation-name: transition;
    animation-duration: 0.6s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes hide_start {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        visibility: hidden;
    }
}

@keyframes transition {
    0% {
        visibility: visible;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

#splash_container,
#levels_container,
#game_container,
#info_container,
#stats_container {
    display: none;
}


/* LOADING ----------------------------------------------------------- */

#loading_container {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

#loading_logo_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 1000px;
}

#loading_logo {
    width: min(40vh, 80vw);
    margin: 3vh;
}

#loading_bar_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 500px;
}

#loading_logo_text,
#loading_bar_text {
    font-size: 2.5vh;
}

#loading_bar {
    width: 40vh;
    height: 1vh;
    background-color: var(--dark);
    border-radius: 9999px;
    outline: 3px solid var(--dark);
    margin: 3vh;
}

#loading_bar::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1vh;
    border-radius: 9999px;
    background-color: var(--char);
    animation-name: fake_loading_animation;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(.7, .4, .4, .9);
    animation-fill-mode: forwards;
}

@keyframes fake_loading_animation {
    from {
        width: 0;
    }
    to {
        width: 40vh;
    }
}


/* SPLASH ----------------------------------------------------------- */

#splash_container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#splash_top_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#splash_logo_main {
    height: 10vh;
    margin: 6vh 0 4vh 0;
}

#splash_logo_game {
    width: min(35vh, 70vw);
    stroke: var(--dark);
    stroke-width: calc(0.5vh + 7px);
    stroke-linejoin: round;
    fill: var(--char);
    paint-order: stroke fill;
    overflow: visible;
    filter: drop-shadow(var(--dark) 1px 1px) drop-shadow(var(--dark) 2px 2px) drop-shadow(var(--dark) 4px 4px);
}

#splash_bottom_container {
    width: min(35vh, 70vw);
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    stroke: var(--dark);
    stroke-width: calc(0.2vh + 3px);
    stroke-linecap: round;
    stroke-linejoin: round;
}

#content_button_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    background-color: var(--char);
    border: .35vh solid var(--dark);
    border-radius: 1vh;
    width: unset;
    display: block;
    margin: 1vh auto;
    padding: 1vh 1.5vh 0.8vh 1.5vh;
    cursor: pointer;
    font-size: 3vh;
    font-family: 'Imago Display', sans-serif;
    transition: 0.5s cubic-bezier(.3, .9, .4, 1);
    box-shadow: var(--dark) .4vh .4vh;
    user-select: none;
}

@media (hover: hover) {
    button:hover {
        box-shadow: var(--dark) .3vh .3vh;
        transform: translate(.1vh, .1vh);
    }
}

button:active {
    box-shadow: var(--dark) .1vh .1vh;
    transform: translate(.3vh, .3vh);
    transition: 0.1s cubic-bezier(.3, .9, .4, 1);
}

#splash_button_container {
    margin: 1vh auto 3vh auto;
}

#disclaimer {
    position: fixed;
    width: 100%;
    top: .5vh;
    left: 0;
    text-align: center;
    font-size: 1vh;
    font-style: italic;
    padding: 0 2vh;
}


/* LEVELS ----------------------------------------------------------- */

#levels_container {
    padding: 2vh;
    width: 100%;
    max-width: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

#levels_top_navigation_container,
#info_top_navigation_container,
#stats_top_navigation_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#game_nav_left {
    display: flex;
}

.ui_mute,
.ui_home,
.ui_back,
#ui_hint {
    background-color: var(--char);
    display: inline-block;
    font-size: 4.5vh;
    line-height: 0;
    padding: 2.8vh 0.8vh 2.1vh 0.8vh;
    margin: 0 0 0 1vh;
}

.ui_home,
.ui_mute,
#levels_nav_left .ui_back {
    background-color: rgba(255, 255, 255, 0.5);
}

.ui_home {
    margin-left: 0;
}

.ui_back {
    font-size: 4vh;
}

#levels_content_wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.splide__track {
    height: 100%;
}

.splide__list {
    transition: .4s cubic-bezier(.4, 1.2, .3, 1);
}

#levels_bottom_navigation_container {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    padding: 0 2vh;
    margin: 0 auto;
}

#levels_bottom_navigation_container .splide__arrow {
    width: calc(4vh + 20px);
    height: calc(4vh + 20px);
    border-radius: 9999px;
    margin: 0;
    padding: 1vh 1vh 1.2vh 1vh;
    position: static;
    background-color: var(--char);
    border: .4vh solid var(--dark);
    border-radius: 9999px;
    transition: 0.5s cubic-bezier(.3, .9, .4, 1);
    box-shadow: var(--dark) .4vh .4vh;
    user-select: none;
    transform: none;
    cursor: pointer;
    opacity: 1;
}

@media (hover: hover) {
    #levels_bottom_navigation_container .splide__arrow:hover {
        box-shadow: var(--dark) .3vh .3vh;
        transform: translate(.1vh, .1vh);
    }
}

#levels_bottom_navigation_container .splide__arrow:active {
    box-shadow: var(--dark) .1vh .1vh;
    transform: translate(.3vh, .3vh);
    transition: 0.1s cubic-bezier(.3, .9, .4, 1);
}

#levels_bottom_navigation_container .splide__arrow svg {
    width: 100%;
    fill: var(--dark);
}

#levels_content_wrapper .splide__pagination {
    bottom: 2vh;
}

#levels_content_wrapper .splide__pagination__page {
    width: 10px;
    height: 10px;
    background-color: var(--dark);
    opacity: 1;
    box-shadow: none;
    margin: 4px;
    border: .25vh solid var(--dark);
    transition: .4s cubic-bezier(.4, 1.2, .3, 1);
}

#levels_content_wrapper .splide__pagination__page.is-active {
    transform: scale(1.3);
    background-color: var(--char);
}

.levels_content_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.levels_content_top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.levels_content_title {
    font-family: 'Imago Display', sans-serif;
    font-size: min(6vh, 14vw);
    text-align: center;
    margin: 2vh 0 1vh 0;
}

.levels_content_illustration {
    width: min(30vh, 80vw);
    stroke: var(--dark);
    stroke-width: .6vh;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.cls-nofill {
    fill: none;
}

.cls-nostroke {
    stroke-width: 0;
    fill: var(--dark);
}

.cls-white {
    fill: #fff;
}

.cls-trans {
    fill: rgba(255, 255, 255, 0.5);
}

.cls-biller {
    fill: var(--purple)
}

.cls-sommerfugle {
    fill: var(--red)
}

.cls-natsvaermere,
.cls-myreroggraeshopper {
    fill: var(--dark-red)
}

.cls-taeger,
.cls-moel {
    fill: var(--green)
}

.cls-bieroghvepse {
    fill: var(--yellow)
}

.cls-guldsmede,
.cls-andreinsekter {
    fill: var(--blue)
}

.cls-eye {
    transform-box: fill-box;
    transform-origin: center;
    transition: transform 10s;
}

.levels_content_middle {
    width: 100vw;
    max-width: min(40vh, 80vw);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.6vh 1vh;
}

.levels_content_level_container {
    border: .4vh solid var(--dark);
    border-radius: 1.3vh;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s cubic-bezier(.3, .9, .4, 1);
    box-shadow: var(--dark) .4vh .4vh;
    display: grid;
    margin: 0;
    padding: 0;
}

@media (hover: hover) {
    .levels_content_level_container:hover {
        box-shadow: var(--dark) .3vh .3vh;
        transform: translate(.1vh, .1vh);
    }
    .unplayable_level:hover,
    .locked_level:hover {
        box-shadow: var(--dark) .4vh .4vh;
        transform: translate(0);
    }
}

.levels_content_level_container:active {
    box-shadow: var(--dark) .1vh .1vh;
    transform: translate(.3vh, .3vh);
    transition: 0.1s cubic-bezier(.3, .9, .4, 1);
}

.unplayable_level:active,
.locked_level:active {
    box-shadow: var(--dark) .35vh .35vh;
    transform: translate(.05vh, .05vh);
}

.levels_content_level_container::after {
    content: ' ';
    display: block;
    width: 100%;
    padding-top: 100%;
    grid-row: 1;
    grid-column: 1;
}

.levels_content_level_container.diff_easy {
    background-color: var(--char);
}

.levels_content_level_container.diff_med {
    background-color: var(--orange);
}

.levels_content_level_container.diff_hard {
    background-color: var(--red);
}

.levels_content_level_container.diff_extreme {
    background-color: var(--dark);
    color: var(--red);
}

.levels_content_level_container.diff_extreme .levels_content_level_number {
    color: var(--yellow);
    padding: 0.7vh 0 0 0.2vh;
}

.unplayable_level {
    opacity: 0.5;
    cursor: auto;
    transition: 0s cubic-bezier(.3, .9, .4, 1);
}

.locked_level {
    cursor: auto;
    transition: 0s cubic-bezier(.3, .9, .4, 1);
}

.levels_content_level_number {
    font-family: 'Imago Display', sans-serif;
    font-size: min(5vh, 10vw);
    text-align: center;
    grid-row: 1;
    grid-column: 1;
    margin: auto;
    padding-top: 0.5vh;
}

.levels_content_levels_star_container {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: space-between;
    margin: -1.5vh 3px 0 3px;
}

.levels_content_levels_star {
    width: 100%;
    fill: var(--grey);
    stroke: var(--dark);
    stroke-width: calc(.3vh + 9px);
    stroke-linejoin: round;
    overflow: visible;
    paint-order: fill stroke;
}

.levels_content_levels_star.yellow_star {
    fill: var(--yellow);
}

.levels_content_bottom {
    margin: 0;
}

.levels_container_stats {
    font-size: 2vh;
    text-align: center;
    margin: .5vh 0 0 0;
}

.stat_locked {
    opacity: 0;
}

.stat_locked_blink {
    font-style: italic;
    animation-name: locked_blink;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes locked_blink {
    0% {
        opacity: 0;
    }
    17% {
        opacity: 1;
    }
    33% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    67% {
        opacity: 0;
    }
    83% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* GAME ----------------------------------------------------------- */

#game_container {
    display: flex;
    flex-direction: column;
}

#game_content_container {
    padding: 2vh;
    width: 100%;
    max-width: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

#game_top_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#ui_hint {
    padding: 0;
    display: grid;
    cursor: help;
}

#ui_hint.wiggle {
    animation-name: wiggle_ani;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes wiggle_ani {
    0% {
        transform: rotate(0);
    }
    88% {
        transform: rotate(0);
    }
    89% {
        transform: rotate(5deg);
    }
    91% {
        transform: rotate(-5deg);
    }
    93% {
        transform: rotate(5deg);
    }
    95% {
        transform: rotate(-5deg);
    }
    97% {
        transform: rotate(5deg);
    }
    99% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0);
    }
}

#ui_hint.all_hints_used {
    opacity: 0.5;
    cursor: default;
    box-shadow: var(--dark) .4vh .4vh;
}

@media (hover: hover) {
    #ui_hint.all_hints_used:hover {
        box-shadow: var(--dark) .4vh .4vh;
        transform: translate(0);
    }
}

#ui_hint.all_hints_used:active {
    box-shadow: var(--dark) .4vh .4vh;
    transform: translate(0);
    transition: 0.1s cubic-bezier(.3, .9, .4, 1);
}

#game_content_level_number {
    line-height: 0;
    padding: 2.7vh 0.5vh 2.2vh 0.5vh;
    grid-row: 1;
    grid-column: 1;
    font-family: 'Imago Display', sans-serif;
}

#game_content_levels_star_container {
    grid-row: 1;
    grid-column: 1;
    width: 110%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0.8vh 0 0 -5%;
}

.game_nav_star {
    width: 100%;
    fill: var(--grey);
    stroke: var(--dark);
    stroke-width: 14px;
    stroke-linejoin: round;
    overflow: visible;
    paint-order: fill stroke;
}

.game_nav_star.yellow_star {
    fill: var(--yellow);
}

#game_middle_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#game_title {
    font-family: 'Imago Display', sans-serif;
    font-size: min(6vh, 10vw);
    margin: 0 0 2vh 0;
}

#game_img_container {
    width: min(40vh, 100%);
    width: 100%;
    overflow: visible;
    fill: var(--char);
    stroke: var(--dark);
    stroke-width: 4px;
    stroke-linejoin: round;
    display: grid;
}


/* #game_img_container div {
    font-size: min(60vh, 120vw);
    font-family: 'Imago Display';
    color: var(--char);
    line-height: 0;
    overflow: visible;
    padding: 65% 0 45% 0;
    text-align: center;
    background-size: contain;
    background-position: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: calc(.2vh + 3px) var(--dark);
    filter: drop-shadow(var(--dark) .8vh .8vh);
    user-select: none;
    cursor: default;
} */

#game_img_container div {
    font-size: 0;
    overflow: visible;
    padding: 0;
    margin: 0 auto;
    width: 80%;
    padding-bottom: 60%;
    background-size: cover;
    background-position: center;
    border: 0.4vh solid var(--dark);
    border-radius: 2vh;
    box-shadow: var(--dark) .6vh .6vh;
    user-select: none;
    cursor: default;
}

#game_star_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.game_img_star {
    width: 6vh;
    margin: -8vh .5vh 0 .5vh;
    fill: var(--grey);
    stroke: var(--dark);
    stroke-width: .7vh;
    stroke-linejoin: round;
    overflow: visible;
    paint-order: fill stroke;
    filter: drop-shadow(var(--dark) 3px 3px);
    opacity: 0;
}

.game_img_star.yellow_star {
    fill: var(--yellow);
}

.star_complete {
    animation-name: star_complete_ani;
    animation-fill-mode: forwards;
    opacity: 1;
    z-index: 3;
}

.star_complete:nth-child(1) {
    animation-duration: 1s;
}

.star_complete:nth-child(2) {
    animation-duration: 1.2s;
}

.star_complete:nth-child(3) {
    animation-duration: 1.4s;
}

@keyframes star_complete_ani {
    0% {
        transform: translateY(100vh) rotate(0);
        animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
    }
    80% {
        transform: translateY(-5vh) rotate(660deg);
        animation-timing-function: cubic-bezier(0.12, 0, 0.39, 0);
    }
    100% {
        transform: translateY(0) rotate(720deg);
    }
}

#game_bottom_container {
    width: 100%;
}

#game_letter_grid {
    display: grid;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    gap: .2vh;
}

.s1,
.s2,
.s3,
.s4,
.s5,
.s6,
.s7,
.s8,
.s9,
.s10 {
    visibility: hidden;
    padding: 0 0 1vh 0;
    border: none;
}

#game_letter_grid span {
    font-family: "Imago Display";
    text-transform: uppercase;
    text-align: center;
    line-height: 0;
    background-color: var(--char);
    border: calc(.1vh + 2.5px) solid var(--dark);
    border-radius: .8vh;
    box-shadow: var(--dark) .4vh .4vh;
    cursor: grab;
    user-select: none;
}

#game_letter_grid span.locked {
    background-color: var(--grey);
    cursor: default;
}

#game_letter_grid span.spaced {
    padding: 2vh 0;
    visibility: hidden;
    border: none;
}

#game_letter_grid span.draggable-source--is-dragging {
    visibility: hidden;
    cursor: grab;
}

#game_letter_grid span.draggable-source--placed {
    animation-name: drag_placed;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
}

@keyframes drag_placed {
    0% {
        transform: scale(1, 1);
    }
    33% {
        transform: scale(1.1, 0.92);
    }
    66% {
        transform: scale(0.96, 1.06);
    }
    100% {
        transform: scale(1, 1);
    }
}

#game_letter_grid span.undraggable {
    animation-name: drag_placed2;
    animation-duration: 0.2s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-timing-function: linear;
}

@keyframes drag_placed2 {
    0% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(2px);
    }
    66% {
        transform: translateX(-1px);
    }
    100% {
        transform: translateX(0);
    }
}

#game_letter_grid span.draggable-mirror {
    background-color: var(--orange);
}

#game_letter_grid span.letter.letter_complete {
    animation-name: letter_complete_ani;
    animation-duration: 0.3s;
    cursor: default;
    animation-fill-mode: forwards;
}

@keyframes letter_complete_ani {
    0% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
    }
    50% {
        transform: translateY(-2vh);
        animation-timing-function: cubic-bezier(0.12, 0, 0.39, 0);
    }
    100% {
        transform: translateY(0);
        background-color: var(--green);
    }
}

#game_win_container_wrapper {
    width: 100%;
}

#game_win_container {
    padding: 0 2vh;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

#win_title {
    font-family: 'Imago Display', sans-serif;
    font-size: 2.4em;
    margin: 3vh 0 .2em 0;
}

.win_subtitle {
    font-family: 'Imago Display', sans-serif;
    font-size: 1.8em;
    margin: 1em 0 0.2em 0;
}

.win_text {
    font-size: 1.2em;
    margin: .2em 0 1em 0;
}

.win_img {
    width: 100%;
    margin: 1em 0 0.2em 0;
    border-radius: 2vh;
    border: .4vh solid var(--dark);
    box-shadow: var(--dark) .6vh .6vh;
}

figcaption {
    font-size: 1.5vh;
    font-style: italic;
    margin: .2em 0 2em 1em;
}

#win_button_container {
    margin: 5vh 0;
}

#scroll_arrow {
    position: absolute;
    top: 98vh;
    left: calc(50vw - 3vh);
    font-size: 4vh;
    padding: 0.7vh 1vh 0.3vh 1vh;
    border-radius: 9999px;
    background-color: var(--beige);
    border-width: .4vh;
    animation-name: scroll_arrow_ani;
    animation-duration: .6s;
    animation-timing-function: cubic-bezier(.3, .7, .6, 1);
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes scroll_arrow_ani {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-4vh);
    }
}


/* STATS ----------------------------------------------------------- */

#stats_container {
    padding: 2vh;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
}

#stats_content_wrapper {
    width: 100%;
}

.stats_contents {
    margin: 2vh 0;
    text-align: center;
}

#stats_title {
    text-align: center;
    margin: 4vh 0 0 0;
    font-family: 'Imago Display', sans-serif;
    font-size: 6vh;
}

#stats_total {
    margin-top: 4vh;
}

.stats_illustration {
    width: 100%;
    margin: 1vh auto;
    stroke: var(--dark);
    stroke-width: .7vh;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.stats_numbers {
    font-family: 'Imago Display', sans-serif;
    font-size: 3vh;
    text-align: center;
}

.stats_desc {
    margin: 0 0 2vh 0;
    font-size: 1.5vh;
    text-align: center;
}

#stats_rest {
    margin: 5vh 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/* STATS ----------------------------------------------------------- */

#info_container {
    padding: 2vh;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
}

#info_title {
    font-family: 'Imago Display', sans-serif;
    font-size: 6vh;
    margin: 3vh 0 6vh 0;
}

#info_logo {
    margin: 3vh 0;
    width: 50%;
}

.info_subtitle {
    font-family: 'Imago Display', sans-serif;
    font-size: 4vh;
    margin: 5vh 0 1vh 0;
}

.info_subsubtitle {
    font-size: 2.5vh;
    font-style: italic;
    margin: 1vh 0 .6vh 0;
}

.info_text {
    font-size: 2vh;
    line-height: 1.3;
    margin: .2vh 0 3vh 0;
}

.info_img {
    width: 100%;
    margin: 1vh 0 0.2vh 0;
    border-radius: 2vh;
    border: .4vh solid var(--dark);
    box-shadow: var(--dark) .6vh .6vh;
}

#info_content_wrapper figcaption {
    margin: 1vh 0;
}

#info_content_wrapper figcaption a {
    font-style: italic;
}

.info_diagramme {
    width: 100%;
    margin: 1em 0 0.2em 0;
    filter: drop-shadow(var(--dark) .4vh .4vh);
}

figcaption {
    font-size: 1.5vh;
    font-style: italic;
}

.info_list {
    margin: -2vh 0 3vh 0;
}

.info_listelement {
    list-style-position: inside;
    font-size: 2vh;
    line-height: 1.5;
}