/* GLOBAL STYLES ----------------------------------------------------------- */

@font-face {
    font-family: 'Imago Display';
    src: url('font/ImagoT7.woff2') format('woff2'), /* Modern Browsers */
    url('font/ImagoT7.otf') format('opentype');
    /* Safari, Android, iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

:root {
    --green-green: linear-gradient(150deg, #A1CC80, #3C7B55);
    --char: #DBF56E;
    --dark: #140E1A;
    --beige: #fcf7f6;
}

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Indivisible', sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--dark);
}

body {
    overflow: hidden;
}

#container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: var(--green-green);
    z-index: -2;
}


/* GLOBAL STYLES ----------------------------------------------------------- */

#background_pattern {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/bg_pattern2_1.svg);
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: -1;
}


/* LOADING ----------------------------------------------------------- */

#loading_content {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

#loading_content {
    display: none;
}

#loading_logo_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 1000px;
}

#loading_logo {
    height: 20vh;
    margin: 3vh;
}

#loading_bar_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 500px;
}

#loading_logo_text,
#loading_bar_text {
    font-size: 2.5vh;
}

#loading_bar {
    width: 40vh;
    height: 1vh;
    background-color: var(--dark);
    border-radius: 9999px;
    outline: 3px solid var(--dark);
    margin: 3vh;
}

#loading_bar::after {
    content: "";
    position: absolute;
    width: 40vh;
    height: 1vh;
    border-radius: 9999px;
    background-color: var(--char);
    animation-name: fake_loading_animation;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: cubic-bezier(.7, .4, .4, .9);
}

@keyframes fake_loading_animation {
    from {
        width: 0;
    }
    to {
        width: 40vh;
    }
}


/* HOME PAGE ----------------------------------------------------------- */

#content_container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    display: none;
}

#content_top_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content_logo_main {
    height: 10vh;
    margin: 5vh 0;
}

#content_logo_game {
    width: min(40vh, 80vw);
    margin: 3vh 0;
    stroke: var(--dark);
    stroke-width: 6px;
    stroke-linejoin: round;
    fill: var(--char);
    overflow: visible;
    filter: drop-shadow(var(--dark) 6px 6px);
}

#content_bottom_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content_illustration {
    height: 20vh;
}

#content_button_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    background-color: var(--char);
    border: 3px solid var(--dark);
    border-radius: 10px;
    width: unset;
    display: block;
    margin: 1vh auto;
    padding: 1vh 1.5vh 0.8vh 1.5vh;
    cursor: pointer;
    font-size: 3vh;
    font-family: 'Imago Display', sans-serif;
    transition: 0.5s cubic-bezier(.3, .9, .4, 1);
    box-shadow: var(--dark) 4px 4px;
}

@media (hover: hover) {
    button:hover {
        box-shadow: var(--dark) 3px 3px;
        transform: translate(1px, 1px);
    }
}

button:active {
    box-shadow: var(--dark) 1px 1px;
    transform: translate(3px, 3px);
    transition: 0.1s cubic-bezier(.3, .9, .4, 1);
}

#start_button {
    margin: 3vh auto 1vh auto;
}

#info_button {
    margin: 1vh auto 3vh auto;
}


/* LEVELS ----------------------------------------------------------- */

#levels_container {
    padding: 2vh;
    width: 100vw;
    max-width: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

#levels_navigation_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#levels_text {
    font-family: 'Imago Display', sans-serif;
    font-size: 3vh;
    margin-top: 1vh;
}

.ui_mute,
.ui_home {
    background-color: var(--beige);
    display: inline-block;
    font-size: 5vh;
    line-height: 0;
    padding: 2.7vh 0.8vh 2.2vh 0.8vh;
    margin: 0 0 0 1vh;
}

.levels_content_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.levels_content_top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.levels_content_title {
    font-family: 'Imago Display', sans-serif;
    font-size: min(6vh, 14vw);
    text-align: center;
    margin: 3vh 0 2vh 0;
}

.levels_content_illustration {
    width: min(20vh, 50vw);
}

.levels_content_middle {
    width: 100%;
    max-width: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2vh 1vh;
}

.levels_content_level_container {
    background-color: var(--char);
    border: 3px solid var(--dark);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s cubic-bezier(.3, .9, .4, 1);
    box-shadow: var(--dark) 4px 4px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.levels_content_level_container::before {
    content: ' ';
    display: block;
    width: 100%;
    padding-top: 100%;
}

.levels_content_level_container::after {
    content: ' ';
    display: block;
    width: 100%;
    padding-top: 100%;
}

.levels_content_level_number {
    font-family: 'Imago Display', sans-serif;
    font-size: 5vh;
    text-align: center;
}

.levels_content_levels_star_container {
    position: absolute;
    width: 8vh;
    height: 8vh;
}

.levels_container_stats {
    font-family: 'Imago Display', sans-serif;
    font-size: 3vh;
    text-align: center;
    margin: 1vh 0;
}

#levels_content_navigation_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.levels_content_arrow {
    border-radius: 9999px;
    margin: 1vh;
    padding: 0.7vh 1vh;
    font-size: 4vh;
}