/* GLOBAL STYLES ----------------------------------------------------------- */

@font-face {
    font-family: 'Imago Display';
    src: url('font/ImagoT10.woff2') format('woff2'), /* Modern Browsers */
    url('font/ImagoT10.otf') format('opentype');
    /* Safari, Android, iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

:root {
    --green-green: linear-gradient(150deg, #A1CC80, #3C7B55);
    --grey: #808080;
    --char: #DBF56E;
    --dark: #140E1A;
    --beige: #fcf7f6;
    --green: #A1CC80;
    --yellow: #F7D159;
    --orange: #F2A055;
    --red: #DB4D6C;
}

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Indivisible', sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--dark);
}

svg {
    overflow: visible;
}

#container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: var(--green-green);
    z-index: -2;
}


/* GLOBAL STYLES ----------------------------------------------------------- */

#background_pattern {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/bg_pattern.svg);
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: -1;
}

#foreground {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--dark);
    z-index: 100;
    animation-name: hide_start;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes hide_start {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        visibility: hidden;
    }
}


/* LOADING ----------------------------------------------------------- */

#loading_container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

#loading_logo_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 1000px;
}

#loading_logo {
    width: min(40vh, 80vw);
    margin: 3vh;
}

#loading_bar_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 500px;
}

#loading_logo_text,
#loading_bar_text {
    font-size: 2.5vh;
}

#loading_bar {
    width: 40vh;
    height: 1vh;
    background-color: var(--dark);
    border-radius: 9999px;
    outline: 3px solid var(--dark);
    margin: 3vh;
}

#loading_bar::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1vh;
    border-radius: 9999px;
    background-color: var(--char);
    animation-name: fake_loading_animation;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(.7, .4, .4, .9);
    animation-fill-mode: forwards;
}

@keyframes fake_loading_animation {
    from {
        width: 0;
    }
    to {
        width: 40vh;
    }
}


/* SPLASH ----------------------------------------------------------- */

#splash_container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#splash_top_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#splash_logo_main {
    height: 10vh;
    margin: 5vh 0;
}

#splash_logo_game {
    width: min(40vh, 80vw);
    margin: 3vh 0;
    stroke: var(--dark);
    stroke-width: 12px;
    stroke-linejoin: round;
    fill: var(--char);
    paint-order: stroke fill;
    overflow: visible;
    filter: drop-shadow(var(--dark) 1px 1px) drop-shadow(var(--dark) 2px 2px) drop-shadow(var(--dark) 4px 4px);
}

#splash_bottom_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#splash_illustration {
    height: 20vh;
}

#content_button_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    background-color: var(--char);
    border: .35vh solid var(--dark);
    border-radius: 1vh;
    width: unset;
    display: block;
    margin: 1vh auto;
    padding: 1vh 1.5vh 0.8vh 1.5vh;
    cursor: pointer;
    font-size: 3vh;
    font-family: 'Imago Display', sans-serif;
    transition: 0.5s cubic-bezier(.3, .9, .4, 1);
    box-shadow: var(--dark) .4vh .4vh;
    user-select: none;
}

@media (hover: hover) {
    button:hover {
        box-shadow: var(--dark) .3vh .3vh;
        transform: translate(.1vh, .1vh);
    }
}

button:active {
    box-shadow: var(--dark) .1vh .1vh;
    transform: translate(.3vh, .3vh);
    transition: 0.1s cubic-bezier(.3, .9, .4, 1);
}

#start_button {
    margin: 3vh auto 1vh auto;
}

#info_button {
    margin: 1vh auto 3vh auto;
}


/* LEVELS ----------------------------------------------------------- */

#levels_container {
    padding: 2vh;
    width: 100%;
    max-width: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

#levels_top_navigation_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#levels_text {
    font-family: 'Imago Display', sans-serif;
    font-size: 3vh;
    margin-top: 1vh;
}

.ui_mute,
.ui_home,
#ui_hint {
    background-color: var(--beige);
    display: inline-block;
    font-size: 5vh;
    line-height: 0;
    padding: 2.8vh 0.8vh 2.1vh 0.8vh;
    margin: 0 0 0 1vh;
}

#levels_bottom_navigation_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.levels_content_arrow {
    border-radius: 9999px;
    margin: 1vh;
    padding: 0.7vh 1vh;
    font-size: 4vh;
}

#levels_content_wrapper {
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.levels_content_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.levels_content_top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.levels_content_title {
    font-family: 'Imago Display', sans-serif;
    font-size: min(6vh, 14vw);
    text-align: center;
    margin: 3vh 0 2vh 0;
}

.levels_content_illustration {
    width: min(20vh, 50vw);
}

.levels_content_middle {
    width: 100%;
    max-width: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2vh 1vh;
}

.levels_content_level_container {
    border: .4vh solid var(--dark);
    border-radius: 1.3vh;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s cubic-bezier(.3, .9, .4, 1);
    box-shadow: var(--dark) .4vh .4vh;
    display: grid;
}

@media (hover: hover) {
    .levels_content_level_container:hover {
        box-shadow: var(--dark) .3vh .3vh;
        transform: translate(.1vh, .1vh);
    }
    .levels_content_level_container.locked_level:hover {
        box-shadow: var(--dark) .4vh .4vh;
        transform: translate(0);
    }
}

.levels_content_level_container:active {
    box-shadow: var(--dark) .1vh .1vh;
    transform: translate(.3vh, .3vh);
    transition: 0.1s cubic-bezier(.3, .9, .4, 1);
}

.levels_content_level_container.locked_level:active {
    box-shadow: var(--dark) .35vh .35vh;
    transform: translate(.05vh, .05vh);
}

.levels_content_level_container::after {
    content: ' ';
    display: block;
    width: 100%;
    padding-top: 100%;
    grid-row: 1;
    grid-column: 1;
}

.levels_content_level_container.diff_easy {
    background-color: var(--char);
}

.levels_content_level_container.diff_med {
    background-color: var(--orange);
}

.levels_content_level_container.diff_hard {
    background-color: var(--red);
}

.levels_content_level_container.locked_level {
    opacity: 0.5;
    cursor: auto;
    transition: 0s cubic-bezier(.3, .9, .4, 1);
}

.levels_content_level_number {
    font-family: 'Imago Display', sans-serif;
    font-size: min(5vh, 10vw);
    text-align: center;
    grid-row: 1;
    grid-column: 1;
    margin: auto;
    padding-top: 0.5vh;
}

.levels_content_levels_star_container {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: space-between;
    margin: -1.5vh 3px 0 3px;
}

.levels_content_levels_star {
    width: 100%;
    fill: var(--grey);
    stroke: var(--dark);
    stroke-width: calc(.3vh + 9px);
    stroke-linejoin: round;
    overflow: visible;
    paint-order: fill stroke;
}

.levels_content_levels_star.yellow_star {
    fill: var(--yellow);
}

.levels_container_stats {
    font-family: 'Imago Display', sans-serif;
    font-size: 3vh;
    text-align: center;
    margin: 1vh 0 0 0;
}


/* GAME ----------------------------------------------------------- */

#game_container {
    padding: 2vh;
    width: 100%;
    max-width: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

#game_top_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#ui_hint {
    padding: 0;
    margin: 0;
    display: grid;
    cursor: help;
}

#ui_hint.all_hints_used {
    opacity: 0.5;
    cursor: default;
    box-shadow: var(--dark) .4vh .4vh;
}

@media (hover: hover) {
    #ui_hint.all_hints_used:hover {
        box-shadow: var(--dark) .4vh .4vh;
        transform: translate(0);
    }
}

#ui_hint.all_hints_used:active {
    box-shadow: var(--dark) .4vh .4vh;
    transform: translate(0);
    transition: 0.1s cubic-bezier(.3, .9, .4, 1);
}

#game_content_level_number {
    line-height: 0;
    padding: 2.7vh 0.5vh 2.2vh 0.5vh;
    grid-row: 1;
    grid-column: 1;
    font-family: 'Imago Display', sans-serif;
}

#game_content_levels_star_container {
    grid-row: 1;
    grid-column: 1;
    width: 110%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0.8vh 0 0 -5%;
}

.game_nav_star {
    width: 100%;
    fill: var(--grey);
    stroke: var(--dark);
    stroke-width: 14px;
    stroke-linejoin: round;
    overflow: visible;
    paint-order: fill stroke;
}

.game_nav_star.yellow_star {
    fill: var(--yellow);
}

#game_middle_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#game_title {
    font-family: 'Imago Display', sans-serif;
    font-size: min(6vh, 10vw);
    margin: 0 0 2vh 0;
}

#game_img_container {
    width: min(40vh, 100%);
    overflow: visible;
    fill: var(--char);
    stroke: var(--dark);
    stroke-width: 4px;
    stroke-linejoin: round;
    display: grid;
}

#game_img_container div {
    font-size: min(60vh, 120vw);
    font-family: 'Imago Display';
    color: var(--char);
    line-height: 0;
    overflow: visible;
    padding: 65% 0 45% 0;
    text-align: center;
    background-size: cover;
    background-position: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: calc(.2vh + 3px) var(--dark);
    filter: drop-shadow(var(--dark) .5vh .5vh);
    user-select: none;
    cursor: default;
}

#game_star_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.game_img_star {
    width: 4vh;
    margin: 0 1vh;
    fill: var(--grey);
    stroke: var(--dark);
    stroke-width: 10px;
    stroke-linejoin: round;
    overflow: visible;
    paint-order: fill stroke;
    filter: drop-shadow(var(--dark) 4px 4px);
    opacity: 0;
}

.game_img_star.yellow_star {
    fill: var(--yellow);
}

#game_bottom_container {
    width: 100%;
}

#game_letter_grid {
    display: grid;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    gap: .2vh;
}

.s1,
.s2,
.s3,
.s4,
.s5,
.s6,
.s7,
.s8,
.s9,
.s10 {
    visibility: hidden;
    padding: 0 0 1vh 0;
    border: none;
}

#game_letter_grid span {
    font-family: "Imago Display";
    text-transform: uppercase;
    text-align: center;
    line-height: 0;
    background-color: var(--char);
    border: calc(.1vh + 2.5px) solid var(--dark);
    border-radius: .8vh;
    box-shadow: var(--dark) .4vh .4vh;
    cursor: grab;
    user-select: none;
}

#game_letter_grid span.locked {
    background-color: var(--grey);
    cursor: default;
}

#game_letter_grid span.spaced {
    padding: 2vh 0;
    visibility: hidden;
    border: none;
}

#game_letter_grid span.draggable-source--is-dragging {
    visibility: hidden;
    cursor: grab;
}

#game_letter_grid span.draggable-source--placed {
    animation-name: drag_placed;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
}

@keyframes drag_placed {
    0% {
        transform: scale(1, 1);
    }
    33% {
        transform: scale(1.1, 0.92);
    }
    66% {
        transform: scale(0.96, 1.06);
    }
    100% {
        transform: scale(1, 1);
    }
}

#game_letter_grid span.undraggable {
    animation-name: drag_placed2;
    animation-duration: 0.2s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-timing-function: linear;
}

@keyframes drag_placed2 {
    0% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(2px);
    }
    66% {
        transform: translateX(-1px);
    }
    100% {
        transform: translateX(0);
    }
}

#game_letter_grid span.draggable-mirror {
    background-color: var(--orange);
}

.star_complete {
    animation-name: star_complete_ani;
    animation-fill-mode: forwards;
    opacity: 1;
}

.star_complete:nth-child(1) {
    animation-duration: 1s;
}

.star_complete:nth-child(2) {
    animation-duration: 1.2s;
}

.star_complete:nth-child(3) {
    animation-duration: 1.4s;
}

@keyframes star_complete_ani {
    0% {
        transform: translateY(100vh) rotate(0);
        animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
    }
    80% {
        transform: translateY(-5vh) rotate(660deg);
        animation-timing-function: cubic-bezier(0.12, 0, 0.39, 0);
    }
    100% {
        transform: translateY(0) rotate(720deg);
    }
}

#game_letter_grid span.letter.letter_complete {
    animation-name: letter_complete_ani;
    animation-duration: 0.3s;
    cursor: default;
    animation-fill-mode: forwards;
}

@keyframes letter_complete_ani {
    0% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
    }
    50% {
        transform: translateY(-2vh);
        animation-timing-function: cubic-bezier(0.12, 0, 0.39, 0);
    }
    100% {
        transform: translateY(0);
        background-color: var(--green);
    }
}


/* START VALUES */


/* #loading_container,
#splash_container,
#levels_container,
#game_container {
    display: none;
}

#loading_container {
    display: flex;
} */

#loading_container,
#splash_container,
#levels_container,
#game_container {
    transition: opacity .1s cubic-bezier(.4, 0, .3, 1);
}

.container_fade {
    opacity: 0;
}